html {
  overflow-y: auto; }

.flag {
  width: 25px;
  height: 25px; }

.search-holder {
  margin-top: 50px; }

.bg-parallax {
  background: url(../images/slider.jpg) no-repeat; }

.slider-text > h1 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-top: 100px; }

.tab-pane {
  background: rgba(255, 255, 255, 0.8) !important; }

.label-form {
  font-weight: bold;
  color: #565656; }

footer#main-footer {
  padding: 40px 0 0 0; }

#home_about {
  background: rgba(75, 175, 142, 0.9);
  color: #FFF; }

.booking-title {
  color: #FFF; }

#home_about {
  padding: 35px 0 20px; }

.tabbable {
  border: 1px solid #4baf8e; }

.picker-date {
  padding-left: 0 !important;
  margin-bottom: 25px; }

.nav-pills {
  float: left;
  margin-left: 20px; }

.info-input {
  padding-left: 15px;
  padding-right: 15px; }

.showDiv {
  visibility: visible; }

.hideDiv {
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
