html{
  overflow-y: auto !important;
}

.flag{
  width: 25px;
  height: 25px;
}

.search-holder{
  margin-top: 50px;
}

.bg-parallax {
  background: url(../images/slider.jpg) no-repeat;
}

.slider-text > h1{
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-top: 100px;

}

.tab-pane {
  background: rgba(255, 255, 255, 0.80) !important;

}

.label-form{
  font-weight: bold;
  color: #565656;
}

footer#main-footer {
  padding: 40px 0 0 0;
}
