.picker-date{
  padding-left: 0!important;
  margin-bottom: 25px;
}

.nav-pills{
  float: left;
  margin-left: 20px;
}

.info-input{
  padding-left: 15px;
  padding-right: 15px;
}

.showDiv{
  visibility: visible;
}

.hideDiv{
  visibility: hidden;
}